.title{
    color: #00BFA6;
	font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.btn{
    padding: 10px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-color: #00BFA6;
    color: #fff;
    background-color: #00BFA6;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right:5%    
}