.title{
    color: #00BFA6;
	font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar{
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}